.content .left .page-item {
    display: block;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #e0e0e0;


    &>h2 {
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }

    .page-content {
        // padding: 0 20px;

        .classtest-link,
        .categories-a {
            display: inline-block;
            margin: 10px 15px;
        }

        .link-list-item {
            width: 100%;
            padding: 20px 0;
            // display: flex;
            // justify-content: space-between;
            margin: 15px 0;

            a {
                display: inline-block;
                width: 42%;
                height: 70px;
                overflow: hidden;
                padding: 5px 8px;

                .link-item-icon {
                    float: left;
                    margin-right: 20px;

                    img {
                        display: inline-block;
                        width: 60px;
                        height: 60px;
                        border-radius: 50%;
                        transition: all 1s;
                    }

                }

                &:nth-child(2n) {
                    margin-left: 83px;
                    // background-color: pink;
                }

                &:hover .link-item-icon img {
                    transform: rotate(360deg);
                }

                &:hover {
                    background-color: rgba(73, 177, 245, .2);

                }
            }

        }

    }

    .link-alert-btn {
        margin-top: 10px;
        margin-right: 10px;
        padding: 8px 12px;
        background-color: #01c58e;
        border-radius: 12px;
        color: #fff;
    }

    .link-alert {
        display: none;
        padding: 10px;
        background-color: #fff;
        border-radius: 12px;
        border: 1px solid #e0e0e0;

        .link-alert-title {
            display: flex;
            justify-content: space-between;
            line-height: 40px;

            div {
                width: 40px;
                height: 40px;
                cursor: pointer;
                text-align: center;
            }
        }

        .link-alert-info {
            margin: 10px 0;
            padding: 10px;
            background-color: #ccf3e8;
            color: #23ac86;
            border-radius: 10px;
            font-size: 14px;
        }

        .link-alert-form {
            width: 100%;

            input {
                padding: 8px;
                margin-bottom: 5px;
                width: 100%;
                background-color: #f5f6fa;
                border-radius: 5px;
                font-size: 12px;
                height: 100%;
                min-width: 0;
                outline: 0;
            }

            div {
                display: inline-block;
                margin-top: 10px;
                padding: 5px 30px 5px 12px;
                border-radius: 3px;
                border-left: 4px solid #e74c3c;
                color: #a82315;
                background-color: #ffe6e6;
                opacity: 0;
            }
        }
    }
}

.photo {
    .page-item {

        .photo-img {
            position: relative;
            width: 100%;
            opacity: 0;

            .photos {
                width: 32%;
                position: absolute;
                overflow: hidden;

                &:hover img {
                    transform: scale(1.2);
                }

                &:hover b {
                    opacity: 1;
                }

                &:hover span {
                    opacity: 1;
                }

                img {
                    display: inline-block;
                    width: 100%;
                    background-color: pink;
                    cursor: pointer;
                    transition: all .8s;
                }

                b,
                span {
                    padding: 0 10px 6px;
                    font-size: 14px;
                    left: 0;
                    color: #fff;
                    opacity: 0;
                    transition: all .8s;
                }

                b {
                    position: absolute;
                    top: 0;
                    font-weight: 400;
                }

                span {
                    position: absolute;
                    bottom: 0;

                }
            }
        }
    }
}

@media (max-width:660px) {
    .link-content {
        hr {
            width: 100%;
        }

        .code-toolbar {
            width: (592 / 7vw);
        }
    }

    .page-item {
        width: (633/6.6vw);
    }
}

@media (max-width:380px) {
    .content .left .page-item {
        border-radius: 6px;
        background-color: #fff;
        box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.08);
    }
}